<html>
  <head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <!-- 1. Load libraries -->
    <script src="./angular.min.js"></script>
    <script src="./fabric.js"></script>
    <script src="./jquery.min.js"></script>
    

  </head>
  <!-- 3. Display the application -->
  <body ng-app>
    <!-- Adding the ng-app declaration to initialize AngularJS -->
    <div id="main" ng-app>
      <!-- The navigation menu will get the value of the "active" variable as a class.
         The $event.preventDefault() stops the page from jumping when a link is clicked. -->

      <nav class="{{active}}" ng-click="$event.preventDefault()">

        <!-- When a link in the menu is clicked, we set the active variable -->

        <a href="#" class="upload" ng-click="active='To upload your picture, please click select file button'">Upload</a>
        <a href="#" class="save" ng-click="active='To save your picture, please click save button'">Save</a>
        <!-- <a href="#" class="services" ng-click="active='services'">Services</a>
        <a href="#" class="contact" ng-click="active='contact'">Contact</a> -->
      </nav>
      <input type="file" id="file"><br />
      <p>
        <b>
          <canvas id="canvas" width="450" height="450"></canvas>
        </b>
      </p>
      <script src="./controller.js"></script>

      <!-- ng-show will show an element if the value in the quotes is truthful,
         while ng-hide does the opposite. Because the active variable is not set
         initially, this will cause the first paragraph to be visible. -->

      <p ng-hide="active">
        Please select where you want to start
      </p>
      <p ng-show="active">
        {{active}}
      </p>
    </div>
  </body>
</html>